{# We used to have an alert about conversion errors here, which requires a custom __metadata.json file
   located in the GCP Bucket of the HTML asset. This is unwieldly, but worse -- not as informative as
    one would hope, as there is no easy recourse towards fixing the issues of the package not being supported.

    Therefore, it appears more productive to have a single simple link to the full conversion log, 
    tucked away in the footer, while allowing a uniform reading UX even for articles with known issues.
#}
{# <div class="package-alerts ltx_document" role="status" aria-label="Conversion errors have been found">
  <button aria-label="Dismiss alert" onclick="closePopup()">
      <span aria-hidden="true"><svg role="presentation" width="20" height="20" viewBox="0 0 44 44" aria-hidden="true" focusable="false">
      <path d="M0.549989 4.44999L4.44999 0.549988L43.45 39.55L39.55 43.45L0.549989 4.44999Z"></path>
      <path d="M39.55 0.549988L43.45 4.44999L4.44999 43.45L0.549988 39.55L39.55 0.549988Z"></path>
      </svg></span>
  </button>
  <p>HTML conversions <a href="https://info.dev.arxiv.org/about/accessibility_html_error_messages.html" target="_blank">sometimes display errors</a> due to content that did not convert correctly from the source. This paper uses the following packages that are not yet supported by the HTML conversion tool. Feedback on these issues are not necessary; they are known and are being worked on.</p>
      <ul arial-label="Unsupported packages used in this paper">
          <li>failed: spie.cls</li>
      </ul>
  <p>Authors: achieve the best HTML results from your LaTeX submissions by following these <a href="https://info.arxiv.org/help/submit_latex_best_practices.html" target="_blank">best practices</a>.</p>
</div> 
#}
<div id="target-section" class="section">
  <a id="license-tr" href="https://info.arxiv.org/help/license/index.html#licenses-available">{{ abs_meta.license and abs_meta.license.short_label }}</a>
  <div id="watermark-tr">arXiv:{{ abs_meta.arxiv_id_v }} {#
    #}[{{ abs_meta.primary_category and abs_meta.primary_category.id }}] {#
    #}{{ abs_meta.modified and abs_meta.get_datetime_of_version(None).strftime("%d %b %Y") }}</div>
</div>